---
layout: layouts/base.njk
title: Contact Me
eleventyExcludeFromCollections: true
---

<p>Your best bet at contacting me is pinging me over on the <a href="{{ metadata.author.fediverse }}">Fediverse</a>! Otherwise, feel free to email me at:</p>

<p>webmaster (at) ww0cj (dot) radio</p>