---
layout: layouts/base.njk
title: WW0CJ
subtitle: CJ's Personal Website
eleventyNavigation:
  key: Home
---

<p>👋🏻 Hello! My name is CJ, a.k.a. Rogue. I'm a web developer turned amateur radio operator turned university student. I'm currently studying Electrical Engineering at a university in the US.</p>

<p>I've got a ton of hobbies I'm always bouncing between, but the main ones include:</p>

<ul>
  <li>Amateur Radio</li>
  <li>Film Reviewing</li>
  <li>Web Development</li>
  <li>Reading Non-Fiction</li>
</ul>

<p>I'm also working on a few large scale projects, including <a href="https://openham.wiki">OpenHam Wiki</a>, <a href="https://worldfoamalliance.org">World Foam Alliance</a>, and a few upcoming open-source projects.</p>

Check out my other web presences below.

<ul>
  <li><a href="{{ metadata.author.fediverse }}">Fediverse</a> (@roguefoam@alpha.polymaths.social)</li>
  <li><a href="https://letterboxd.com/roguefoam">Letterboxd</a></li>
  <li><a href="https://psnprofiles.com/KindaPogU">PSNprofiles</a></li>
</ul>


<h2>Some Recent Posts</h2>
{% set postslist = collections.post | head(-5) %}
{% include "postslist.njk" %}