---
layout: layouts/base.njk
eleventyNavigation:
  key: Plots
  order: 1
title: plots
---

<a href="/plots/notes">notes</a><br>
<span>real blog posts</span>

<hr>

<a href="/plots/resources">resources</a><br>
<span>occasionally up-to-date references on cool stuff</span>