---
layout: layouts/plot.njk
title: plot - amateur radio
eleventyExcludeFromCollections: true
---

<p>One of my primary hobbies is amateur radio, a hobby dedicated to furthering radio technology through experimentation and on-the-air activities. I'm passionate about both the technology as well as improving youth engagement in electronics and engineering via radio.</p>

<p>I first recieved my Technician Class license in December 2020 as KO4JZT. In April 2021 I upgraded to my General Class license and finally upgraded to Extra Class in July 2021 and got the vanity call of <b>WW0CJ</b>.</p>

<hr>

<h2>Recent Posts</h2>

{% set postslist = collections['Amateur Radio'] %}
{% include "postslist.njk" %}

<hr>

<h2>Clubs I'm Part Of</h2>

<p>University of Tulsa Amateur Radio Club (KC5TU), Tulsa Amateur Radio Club (W5IAS), Zeta Lambda Radio Club (KI5HSS), <a href="https://www.hamvillage.org/">Ham Radio Village</a> (K0HRV), <a href="https://www.remotehamradio.com/youth-network/">RemoteHamRadio Youth Program</a>, <a href="https://dcares.com/wordpress/">DCARES</a>, <a href="https://www.omiss.net/Facelift/index.php">OMISS</a>, <a href="http://yacht.younghams.org/">YACHT</a></p>

<p><b>Volunteer Examiner at:</b> GLAARG, ARRL</p>

<hr>

<h2>Past Activities</h2>

<h3>2021</h3>

<ul>
  <li>Huntsville Hamfest - Represented the RemoteHamRadio Youth Program</li>
  <li>FT Roundup 2021 - Single OP, #3 Worldwide</li>
  <li>DEFCON 29 - K3K Special Event Station Coordinator</li>
</ul>

<h3>2022</h3>

<ul>
  <li>Orlando Hamcation - Represented the RemoteHamRadio Youth Program</li>
  <li>Dayton Hamvention - Represented the RemoteHamRadio Youth Program</li>
  <li>CQ Worldwide RTTY - NJ4P</li>
  <li>BARTG RTTY - NJ4P (M/2, new world record)</li>
</ul>

<h3>2023</h3>

<ul>
  <li>Youth on the Air (YOTA) Camp Participant - Ottawa, Ontario</li>
  <li>Chartered the University of Tulsa Amateur Radio Club (KC5TU)</li>
</ul>

<h3>2024</h3>

<ul>
  <li>Worked All Prefixes (WPX) RTTY - WV4P</li>
</ul>