---
layout: layouts/plot.njk
title: plot - amateur radio
eleventyExcludeFromCollections: true
---

<p>One of my primary hobbies is amateur radio, a hobby dedicated to furthering radio technology through experimentation and on-the-air activities.</p>

<p>I first recieved my Technician Class license in December 2020 as KO4JZT. In April 2021 I upgraded to my General Class license and finally upgraded to Extra Class in July 2021 and got the vanity call of <b>WW0CJ</b>.</p>

<hr>

<h2>Recent Posts</h2>

{% set postslist = collections['Amateur Radio'] %}
{% include "postslist.njk" %}

<hr>

<h2>Clubs I'm Part Of</h2>

<p>University of Tulsa Amateur Radio Club (KC5TU), Tulsa Amateur Radio Club (W5IAS), Zeta Lambda Radio Club (KI5HSS), <a href="https://www.hamvillage.org/">Ham Radio Village</a> (K0HRV), <a href="https://www.remotehamradio.com/youth-network/">RemoteHamRadio Youth Program</a>, <a href="https://dcares.com/wordpress/">DCARES</a>, <a href="https://www.omiss.net/Facelift/index.php">OMISS</a>, <a href="http://yacht.younghams.org/">YACHT</a></p>

<p><b>Volunteer Examiner at:</b> GLAARG, ARRL</p>

<hr>

<h2>Past Activities</h2>

<h3>Special Event Stations</h3>

<ul>
  <li><strong>K3K</strong>- Special Event Station Coordinator for DEFCON 29</li>
</ul>

<h3>Contests</h3>

<ul>
  <li><strong>NJ4P </strong>- CQ WW RTTY 2022</li>
  <li><strong>NJ4P</strong> - M/2 in BARTG RTTY 2022, new world record holders</li>
  <li><strong>FT Roundup 2021 </strong>- Single OP, #3 worldwide</li>
</ul>

<h3>Hamfests</h3>

<ul>
  <li><strong>Huntsville Hamfest&nbsp;</strong>- Represented the RemoteHamRadio Youth Program in 2021</li>
  <li><strong>Orlando Hamcation </strong>- Represented the RemoteHamRadio Youth Program in 2022.</li>
  <li><strong>Dayton Hamvention </strong>- Represented the RemoteHamRadio Youth Program in 2022.</li>
</ul>