---
layout: layouts/base.njk
title: Privacy Policy
---

This site is hosted on <a href="https://netlify.app">Netlify</a> and uses <a href="https://tinylytics.app">Tinylytics</a> for analytics purposes and therefore inherits their privacy policies. 

<ul>
  <li><a href="https://tinylytics.app/privacy">Tinylytics</a></li>
  <li><a href="https://www.netlify.com/privacy/">Netlify</a></li>
</ul>