<footer> <!-- Some nice extra information at the bottom of the page -->
  <p><a href="/policies/privacy/">Privacy Policy</a>
  <p>©2023 {{ metadata.author.name }}; usable under CC BY-SA 4.0</p> <!-- While not legally required, it's nice to put copyright and/or license info here. Also, it looks nice to break up the links with a line of text -->
  <p><a href="/feed">Subscribe</a> | <a href="{{ metadata.author.fediverse }}" rel="me" target="blank">Mastodon</a> | <a href="/contact/">Contact Me</a></p> <!-- This is the kind of thing people look for in footers: contact info and legal info. Make sure you include both! -->
</footer>

<script src="https://tinylytics.app/embed/Xj-piZ6JgXdXz91XmBb8.js" defer></script>