{% if metadata.author.name and date %}
  {% set subtitle = "by " +  metadata.author.name + " on " + date.toUTCString() %}
{% endif %}

<header>
    <h1>{% if not tags or "post" not in tags or title == "blog" %}WW0CJ | {% endif %}{{ title }}</h1>
  <p>{{ subtitle }}{% if lastModified %}<span title="Last edited {{ lastModified.toUTCString() }}">*</span>{% endif %}</p>
</header>