<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/readable.min.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="alternate" type="application/rss+xml" title="WW0CJ.radio" href="{{ metadata.url }}/feed" />
    <title>{{ title }}</title>
  </head>
  <body>
    {% include "partials/header.njk" %}
		{% include "partials/navigation.njk" %}
    <main>
        {{ content | safe }}
    </main>
    {% include "partials/footer.njk" %}
  </body>
</html>
