---
layout: layouts/base.njk
---
	{%- for tag in tags | filterTagList %}
	{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %} | {% endif %}
	{%- endfor %}

{{ content | safe }}

<hr>

I'd love to hear from you! Feel free to <a href="mailto:webmaster@ww0cj.radio">email me</a> or reach out to me on the <a href="{{ metadata.author.fediverse }}">Fediverse</a>.