---
layout: layouts/base.njk
---

{{ content | safe }}


<hr>

I'd love to hear from you! Feel free to <a href="mailto:webmaster@ww0cj.radio">email me</a> or reach out to me on the <a href="{{ metadata.author.fediverse }}">Fediverse</a>.